/nbproject/private/
/gestion-cabinet-medical-war/nbproject/private/
/gestion-cabinet-medical-ejb/nbproject/private/
/gestion-cabinet-medical-ejb/build/
/gestion-cabinet-medical-ejb/dist/
/gestion-cabinet-medical-war/build/
/build/
/gestion-cabinet-medical-war/dist/
/dist/